:root {
  --margin-v-1: 1rem;
  --margin-v-1_5: 1.5rem;
  --margin-v-2: 2rem;
  --margin-v-2_5: 2.5rem;
  --margin-v-3: 3rem;
  --margin-v-3_5: 3.5rem;
  --margin-v-4: 4rem;
  --margin-v-4_5: 4.5rem;
  --margin-h-4: 4rem;
  --padding-x: 4rem;
  --max-pw: 44rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #3c2252;
  color: #85ff85;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
  padding: 0 var(--padding-x);
}

hr {
  max-width: calc(var(--max-pw) - var(--padding-x) * 2);
  border: none;
  border-top: 1rem solid #85ff85;
  color: #85ff85;
  margin: 6rem auto;
}

h1 {
  font-size: 4rem;
  font-weight: 200;
  line-height: 1;
  margin: 2rem auto 0.5rem auto;
  max-width: var(--max-pw);
}

h2 {
  font-size: 2.5rem;
  margin: 2rem auto 0.5rem auto;
  max-width: var(--max-pw);
}

h3 {
  font-size: 2rem;
  margin: 2rem auto 0.5rem auto;
  max-width: var(--max-pw);
}

h4 {
  font-size: 1.5rem;
  margin: 2rem auto 0.5rem auto;
  max-width: var(--max-pw);
}

p {
  margin: 1.5rem auto;
  max-width: var(--max-pw);
  padding: 0 var(--padding-x);
}
p.preamble {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem auto;
  max-width: var(--max-pw);
  font-weight: 600;
}
h4 + p.role {
  margin-top: -0.6rem;
  font-size: 0.8rem;
}
h4 + p.url {
  margin-top: -0.6rem;
}
.url + p.url {
  margin-top: -1.6rem;
}

a {
  color: #85ff85;
  text-decoration: underline;
}
a:hover {
  text-decoration: underline;
}

::selection {
  background: #85ff85;
  color: #3c2252;
}

::-moz-selection {
  background: #85ff85;
  color: #3c2252;
}

body > header {
  margin: 6rem 0;
  text-align: center;
}
body > header > nav > ul {
  list-style: none;
  margin: 1.5rem auto;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
body > header > nav > ul > li {
  display: inline-block;
}
body > header > :first-child {
  margin-top: 0;
}
body > header > :last-child {
  margin-bottom: 0;
}

main {
  margin: 0;
  padding: 0;
}
main > header {
  margin: 2rem 0;
  text-align: center;
}
main > header > :first-child {
  margin-top: 0;
}
main > header > :last-child {
  margin-bottom: 0;
}
main > section {
  margin: var(--margin-v-4) 0;
}
main > section > article {
  margin: 6rem 0;
}
main > section > article > :first-child {
  margin-top: 0;
}
main > section > article > :last-child {
  margin-bottom: 0;
}
main > section > :first-child {
  margin-top: 0;
}
main > section > :last-child {
  margin-bottom: 0;
}
main > :first-child {
  margin-top: 0;
}
main > :last-child {
  margin-bottom: 0;
}

footer {
  padding: 0;
  text-align: center;
  margin: 6rem auto;
}
footer > :first-child {
  margin-top: 0;
}
footer > :last-child {
  margin-bottom: 0;
}

/*# sourceMappingURL=main.css.map */
